.uno{
	margin-bottom: 6px;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete{
	background-color: #796B6B;
	border: 1px solid black;
	height: 100px;
	width: 100px;
	margin-left: 10px;
}

.cuadros{
	margin-left: 10px;
	border: 1px solid black;
	background-color: #796B6B;
	padding:5px;
	width: 360px;

}

 .dos, .tres, .cuatro, .cinco, .seis{
	 display: inline-block;

}

